h1{
	font-size: 165%;
	font-weight: normal;
	color: black;
}

body{
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
    color:  darkgray;
	background-color: lightgray;
	padding: 20px;
}

footer{
    color: darkgray;
}

span{
	color: red;
}

p{
	background-color: white;
	padding: 20px;
}
