html {
	background-color: black;
}
/* 7 Mar 22 */
h1 {
	color: greenyellow;
	text-align: center;
}

.pic{
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.highlight {
/*	background-color: greenyellow;
	foreground-color: black;*/
	width: 150px;
	text-align: center;
}

span {
	color: red;
}



div {
	 text-align: center;
}


p {
	color: greenyellow;
	text-align: left;
}

ul {
	color: greenyellow;
	text-align: left;

}
/*
.sitenav ul{
	margin: 0;
	padding: 0;
}

.sitenav li{
	list-style: none;
	float: left;
	margin-right: 5px;
}
*/
.sitenav a{
	color: greenyellow;
	/*display: block;
	color: greenyellow;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid green;*/
}
/*
.sitenav a:hover{
	background-color: rgb(157, 197, 184);
}
*/




.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.content-area {
	border-top: 3px solid greenyellow;
	border-bottom: 3px solid greenyellow;
}

.main-area {
	width: 60%;
	float: left;
	padding-right: 10px;

}

.sidebar {
	width: 34%;
	float: left;
}

.fix {
	clear: both;
}

/* this is for older browsers supposedly, like i give a crap*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
