/*h1 {
	color: orange;
	text-align: center;
}

header p {
	color: green;
}

header p span {
	color: blue;
}

.highlight {
	background-color: yellow;
}
*/
body {
	background-color: black;
}

p {
	color: green;
}
footer .highlight {
	background-color: LightGray;
}
